*{
    padding: 0px;
    margin: 0px;
}
/* .navbar{ 
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
} */
#navbarNav {
    padding-left:500px;
    padding-right:30px;
    padding-top: 1.8%;
  }
  .navbar-nav > li{ 
    padding-left:10px;
    padding-right:10px;
  }
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.cardpic{
  height:300px;
}
.card-body{
  height:300px;
}
/* .carousel-item { 
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.text-header{
  margin-top: 25px;
  text-align: center;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}